{% extends 'base/base.html' %}
{% block title%}Главная{% endblock %}
{% block content %}
<div class="bg-light">
  <div class="container">
    <br>
    <h3>Регистрация</h3>
    <br>
    <div class="row">

      <div class="container bg-white col-6">
        <div class="container p-4">
          <!-- <div class="col-6"> -->
            {% include 'base/form.html' with button='Зарегистрироваться'%}
          <!-- </div> -->
        </div>
      </div>
    </div>
    <br>
  </div>
</div>

{%endblock%}
