{% extends 'base/base.html' %}
{% block title%}Главная{% endblock %}
{% block content %}

<div class="bg-light">
  <div class="container">
    <br>
    <h3>Доставка</h3>
    <br>
    <div class="row">

      <div class="containe bg-white">
        <div class="container">
          <br>
          <p>Доставка товаров в наличии осуществляется по следующей схеме:</p>

          <p>После подтверждения Вами заказа, мы упаковавывам его и в течение 2-х дней отправляем:</p>

          <p>- Курьером (только для жителей г. Ангарска).</p>
          <p>Стоимость доставки - 100 руб.</p>

          <p>- Почтой России (для жителей других регионов РФ).</p>
          <p>Срок доставки по России - от нескольких дней до 2-х недель.</p>
          <p>Стоимость доставки рассчитывается автоматически при оформлении заказа, исходя из веса и стоимости товаров (для расчетов используется сервис http://postcalc.ru).</p>



          <p>Доставка товаров под заказ осуществляется по следующей схеме:</p>

          <p>1. Раз в неделю мы отправляем заявку со всеми подтвержденными заказами (за неделю) нашим поставщикам.</p>
          <p>2. К сожалению иногда случается так, что некоторых товаров (размеров) может не оказаться у поставщиков, поэтому в течение нескольких дней они отправляют нам нашу заявку с пометками, если каких-то товаров у них не оказалось. Если в числе
            отсутствующих оказывается какой-либо товар из Вашего заказа, мы сообщаем Вам об этом по e-mail. Если Вы получили такое письмо от нас, то Вы можете отказаться от отсутствующей вещи либо заменить ее на другую.</p>

          <p>3. Поставщики высылают заказанные товары нам (в г.Ангарск).</p>

          <p>4. Мы получаем товар, отправляем Вам e-mail и смс с просьбой подтвердить отправку (либо с реквизитами для оплаты, если Вы выбрали предоплату), и в случае положительного ответа (либо поступления оплаты) высылаем его Вам. После отправки к
            Вам на e-mail и по смс придет идентификатор посылки.</p>

          <p>Примерный срок доставки товара до нас - 6 недель с момента оформления Вами заказа.</p>

          <p>Примерный срок доставки заказа до Вас - 7 недель с момента оформления Вами заказа (или 1 неделю после прихода заказа к нам).</p>

          <p>Если Ваш заказ содержит как товары в наличии, так и товары под заказ, то по умолчанию отправка всего Вашего заказа произойдет только после получения нами товаров на заказ. Если вы хотите получить товары в наличии раньше, то разбивайте
            товары на 2 заказа: в один включайте только товары в наличии, в другой - только товары под заказ.</p>

          <p>ВНИМАНИЕ! Посылки хранятся в отделениях почты 30 дней с момента их поступления, после этого их отправляют обратно. Если у Вас нет финансовой возможности (при оплате заказа на почте) забрать посылку в течение 30 дней, то срок хранения
            можно продлить до 2-х месяцев. Для этого необходимо с паспортом обратиться в Ваше почтовое отделение.</p>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>

{%endblock%}
