{% extends 'products/base.html' %}
{% block title%}Главная{% endblock %}
{% block content %}

<div class="bg-light">
  <div class="container">
    <br>
    <h3>Оплата</h3>
    <br>
    <div class="row">

      <div class="containe bg-white">
        <div class="container">
          <p>Возможны следующие варианты оплаты:</p>

          <p>1. Предоплата</p>

          <p>После оформления Вами заказа (для товаров в наличии) либо после того, как мы получаем от поставщиков Ваш заказ (для товаров под заказ), мы сообщаем Вам реквизиты для оплаты. После совершения Вами оплаты, мы высылаем Вам Ваш заказ в
            течение 2-х дней. При получении ничего платить не нужно. При данном варианте оплаты, в отличие от оплаты при получении, дешевле обходится доставка, плюс Вам не придется платить комиссию за перевод на почте.</p>
          <p>Предоплата может осуществляться следующими способами:</p>
          <p>1.1. Через Сбербанк (необходима карточка Сберабанка). Вы идете к ближайшему банкомату и осуществляете перевод средств с Вашей карты на нашу карту (номер мы сообщим по e-mail). Если на Вашей карте нет денег, но они есть в виде наличных,
            то Вы сначала кладете деньги на Вашу карту, а потом осуществляете перевод. Также можно произвести перевод через Сбербанк-онлайн либо мобильный банк. После того, как сделаете перевод, напишите нам об этом (при оплате через Сбербанк Онлайн
            можете указать в</p>
          <p>комментарии свою фамилию, но не нужно указывать слово "заказ"). Комиссия за перевод 1%.</p>

          <p>1.2. По карте любого банка. Мы сообщаем Вам номер нашей карты Тинькофф, вы осуществляете перевод по данной ссылке: https://www.tinkoff.ru/cardtocard/ (номер нашей карты указывается справа). После того, как сделаете перевод, напишите нам
            об этом. Комиссия за перевод зависит от Вашего банка, но в большинстве случаев перевод осуществляется без комиссии.</p>

          <p>1.3. Через Qiwi-терминал. Вы идете к ближайшему Qiwi-терминалу и вносите деньги на наш Qiwi-кошелек (номер мы сообщим по e-mail). В комментарии к платежу обязательно указываете номер оплачиваемого заказа или Ваши ФИО, чтобы мы могли
            идентифицировать Ваш платеж. В случае использования именно Qiwi-терминала внесение осуществляется без комиссии.</p>

          <p>1.4. Через Яндекс-деньги. Мы сообщаем по e-mail наш счет в Яндекс-деньгах, Вы переводите деньги с Вашего счета на наш. В комментарии к платежу указываете номер оплачиваемого заказа или Ваши ФИО, чтобы мы могли идентифицировать Ваш
            платеж. Комиссия за перевод 0,5%</p>

          <p>1.5. Через WebMoney. Мы сообщаем по e-mail наш счет в WebMoney, Вы переводите деньги с Вашего счета на наш. В комментарии к платежу указываете номер оплачиваемого заказа или Ваши ФИО, чтобы мы могли идентифицировать Ваш платеж. Комиссия
            за перевод 0,8%</p>


          <p>2. Оплата при получении</p>

          <p>Вы оплачиваете покупку на почте при получении заказа (наложенный платеж).</p>
          <p>При данном варианте оплаты, в отличии от предоплаты, дороже обходится доставка, плюс за перевод денег почта берет некоторый процент, ознакомиться с которым можно по ссылке: тарифы почты России. Кроме того, для некоторых регионов
            дополнительно к базовому взимается индивидуальный тариф, который можно посмотреть здесь: дополнительный тариф</p>


          <p>Для жителей г.Ангарска оплата производится наличными курьеру при получении.</p>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>

{%endblock%}
