{% extends 'products/base.html' %}
{% block title%}Главная{% endblock %}
{% block content %}

<div class="bg-light">
  <div class="container">
    <br>
    <h3>Возврат</h3>
    <br>
    <div class="row">

      <div class="containe bg-white">
        <div class="container">
          <br>
          <p>Возврат товаров возможен в течении 14 дней с момента получения Вами заказа. </p>

          <p>Если причиной возврата является брак, то мы возмещаем как стоимость самого товара, так и стоимость доставки (туда и обратно).</p>
          <p>При всех остальных причинах возврата мы возмещаем Вам только стоимость самого товара, доставка товара (туда и обратно) происходит за Ваш счет. Обязательное условие возврата - товары не должны быть использованы (т.е. не должны быть одеты
            на улицу или на тренировку).</p>

          <p>Для уведомления нас о Вашем желании вернуть товар напишите нам с помощью формы обратной связи или на адрес order@jordan23.su, в письме укажите номер заказа, товар и причину возврата. После этого мы свяжемся с Вами для дальнейших
            указаний.</p>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>

{%endblock%}
